MAIL_SERVER=YOUR_SERVER
MAIL_PORT=YOUR_PORT
MAIL_USE_TLS=True/False
MAIL_USERNAME=YOUR_USERNAME
MAIL_RECIPIENT=YOUR_RECIPIENT
RECAPTCHA_USE_SSL=True/False
RECAPTCHA_PUBLIC_KEY=X
RECAPTCHA_PRIVATE_KEY=X
