			<!-- Footer -->
				<footer id="footer">
					<ul class="icons">
						<li><a href="https://linktr.ee/clubmusique" class="icon solid fa-link"><span class="label">Linktree</span></a></li>
						<li><a href="https://fr-fr.facebook.com/ClubMusiqueEsieeParis/" class="icon brands fa-facebook-f"><span class="label">Facebook</span></a></li>
						<li><a href="https://www.instagram.com/clubmusiqueesiee/" class="icon brands fa-instagram"><span class="label">Instagram</span></a></li>
						<li><a href="https://www.youtube.com/channel/UCUeBDyS5h12NbpueTGZSlgQ" class="icon brands fa-youtube"><span class="label">YouTube</span></a></li>
					</ul>
					<ul class="copyright">
						<li>Club Musique ESIEE PARIS - &copy; 2010-<script>document.write(new Date().getFullYear())</script></li>
					</ul>
				</footer>
		</div>

	<!-- Scripts -->
		<script src="{{ url_for('static', filename='js/jquery.min.js')}}"></script>
		<script src="{{ url_for('static', filename='js/jquery.dropotron.min.js')}}"></script>
		<script src="{{ url_for('static', filename='js/jquery.scrollex.min.js')}}"></script>
		<script src="{{ url_for('static', filename='js/browser.min.js')}}"></script>
		<script src="{{ url_for('static', filename='js/breakpoints.min.js')}}"></script>
		<script src="{{ url_for('static', filename='js/util.js')}}"></script>
		<script src="{{ url_for('static', filename='js/main.js')}}"></script>
		<script src="{{ url_for('static', filename='js/jquery-1.10.2.js')}}"></script>
		<script src="{{ url_for('static', filename='js/jquery-ui.js')}}"></script>
	</body>
</html>
