			<!-- Footer -->
				<footer id="footer">
					<ul class="icons">
						<li><a href="https://fr-fr.facebook.com/ClubMusiqueEsieeParis/" class="icon brands fa-facebook-f"><span class="label">Facebook</span></a></li>
						<li><a href="https://www.instagram.com/clubmusiqueesiee/" class="icon brands fa-instagram"><span class="label">Instagram</span></a></li>
						<li><a href="https://www.youtube.com/channel/UCUeBDyS5h12NbpueTGZSlgQ" class="icon brands fa-youtube"><span class="label">YouTube</span></a></li>
					</ul>
					<ul class="copyright">
						<li>Club Musique ESIEE PARIS - 1989-2020 &copy; Théo LEFEVRE</a></li>
					</ul>
				</footer>
		</div>

	<!-- Scripts -->
		<script src="{{ url_for('static', filename='js/jquery.min.js')}}"></script>
		<script src="{{ url_for('static', filename='js/jquery.dropotron.min.js')}}"></script>
		<script src="{{ url_for('static', filename='js/jquery.scrollex.min.js')}}"></script>
		<script src="{{ url_for('static', filename='js/browser.min.js')}}"></script>
		<script src="{{ url_for('static', filename='js/breakpoints.min.js')}}"></script>
		<script src="{{ url_for('static', filename='js/util.js')}}"></script>
		<script src="{{ url_for('static', filename='js/main.js')}}"></script>
		<script src="{{ url_for('static', filename='js/jquery-1.10.2.js')}}"></script>
		<script src="{{ url_for('static', filename='js/jquery-ui.js')}}"></script>
		<script>
		$(function() {
			$( ".dtpick" ).datepicker({ 
				clearText: 'Effacer', clearStatus: '',
				closeText: 'Fermer', closeStatus: 'Fermer sans modifier',
				prevText: '<Préc', prevStatus: 'Voir le mois précédent',
				nextText: 'Suiv>', nextStatus: 'Voir le mois suivant',
				currentText: 'Courant', currentStatus: 'Voir le mois courant',
				monthNames: ['Janvier','Février','Mars','Avril','Mai','Juin','Juillet','Août','Septembre','Octobre','Novembre','Décembre'],
				monthNamesShort: ['Jan','Fév','Mar','Avr','Mai','Jun','Jul','Aoû','Sep','Oct','Nov','Déc'],
				monthStatus: 'Voir un autre mois', yearStatus: 'Voir un autre année',
				weekHeader: 'Sm', weekStatus: '',
				dayNames: ['Dimanche','Lundi','Mardi','Mercredi','Jeudi','Vendredi','Samedi'],
				dayNamesShort: ['Dim','Lun','Mar','Mer','Jeu','Ven','Sam'],
				dayNamesMin: ['Di','Lu','Ma','Me','Je','Ve','Sa'],
				dayStatus: 'Utiliser DD comme premier jour de la semaine', dateStatus: 'Choisir le DD, MM d',
				dateFormat: 'dd/mm/yy', firstDay: 0, 
				initStatus: 'Choisir la date', isRTL: false, 
				dateFormat: 'dd/mm/yy' 
			});
		});
		</script>
	</body>
</html>
