{% include "header.html" %}	
	<body class="landing is-preload">
		<div id="page-wrapper">

			<!-- Header -->
				<header id="header" class="alt">
					{% include "nav.html" %}
				</header>
				
			<!-- Banner -->
				<section id="banner">
					<h2>Club Musique</h2>
					<p>Le Club des musiciennes et musiciens d'ESIEE PARIS.</p>
					<ul class="actions special">
						<li><a href="/reservation" class="button">Réservation</a></li>
						<li><a href="/contact" class="button">Contact</a></li>
					</ul>
				</section>

			<!-- Main -->
				<section id="main" class="container">
					<section class="box special">
						<header class="major">
							<h2>Bienvenue !</h2>
							<p>Le Club Musique est un club pour apprendre ou jouer d'un instrument, découvrir des talents, avec des membres dynamiques, où il règne une ambiance de folie et où tu peux monter sur scène en moins d'un an !</p>
						</header>
						<span class="image featured"><img src="{{ url_for('static', filename='images/banniere.jpg')}}" alt="" /></span>
					</section>
					<section class="box special features">
						<div class="features-row">
							<section>
								<span class="icon solid major fa-calendar accent2"></span>
								<h3>Evenements</h3>
								<p>Tout au long de l'année, tu pourras compter sur tes respos évenements pour te dégoter une scène !</p>
							</section>
							<section>
								<span class="icon solid major fa-guitar accent3"></span>
								<h3>Diversité</h3>
								<p>Il faut de tout pout faire un monde. Au club musique, nous avons le tout, à toi d'y créer ton monde !</p>
							</section>
						</div>
						<div class="features-row">
							<section>
								<span class="icon solid major fa-users accent4"></span>
								<h3>Apprendre</h3>
								<p>Tu ne joues pas encore d'un instrument ? Ou essayes de t'y mettre ? Tu pourras compter sur des membres plus expérimentés pour te transmettre leur savoir !</p>
							</section>
							<section>
								<span class="icon solid major fa-comment accent5"></span>
								<h3>Echanges</h3>
								<p>Grâce aux Open-Sessions et au Forum Côtisants, tes questions ne resterons pas longtemps sans réponses.</p>
							</section>
						</div>
					</section>
					<div class="row">
						<div class="col-6 col-12-narrower">
							<section class="box special">
								<span class="image featured"><img src="{{ url_for('static', filename='images/resa.jpg')}}" alt="" /></span>
								<h3>Réservation du Studio</h3>
								<p>Tu désires réserver le studio pour donner un cours ou répéter avec ton groupe ? C'est par ici !</p>
								<ul class="actions special">
									<li><a href="/reservation" class="button alt">Réservation</a></li>
								</ul>
							</section>
						</div>
						<div class="col-6 col-12-narrower">
							<section class="box special">
								<span class="image featured"><img src="{{ url_for('static', filename='images/contact.jpg')}}" alt="" /></span>
								<h3>Nous contacter</h3>
								<p>Des questions ? Des suggestions ? Tu désires nous contacter pour une raison particulière ? C'est par ici !</p>
								<ul class="actions special">
									<li><a href="/contact" class="button alt">Contact</a></li>
								</ul>
							</section>
						</div>
					</div>
				</section>
{% include "footer.html" %}
