			<footer class="mt-auto text-white-50 pt-4">
				<div class="pb-4">
					<a href="https://linktr.ee/clubmusiqueesiee" class="text-decoration-none text-white-50 fa-2xl fa fa-link"></a>
					<a href="https://www.instagram.com/clubmusiqueesiee/" class="px-4 text-decoration-none text-white-50 fa-2xl fa-brands fa-facebook"></a>
					<a href="http://discord.gg/FVyKYF3535" class="text-decoration-none text-white-50 fa-2xl fa-brands fa-discord"></a>
				</div>
				<p>Club Musique ESIEE PARIS - &copy; 1989-<script>document.write(new Date().getFullYear())</script></p>
			</footer>
		</div>
	</body>
</html>