{% include "header.html" %}

	<body class="d-flex min-vh-100 text-center text-white bg-dark">
		<div class="container d-flex p-3 mx-auto flex-column">
			<header class="mb-auto">
				<div>
				<a href="/" class="text-reset"><h3 class="float-md-start mb-0">Club Musique ESIEE PARIS</h3></a>
				<nav class="nav nav-masthead justify-content-center float-md-end">
					<a class="nav-link" href="/">Home</a>
					<a class="nav-link" href="/planning">Planning</a>
					<a class="nav-link active" aria-current="page" href="/reservation">Réservation</a>
					<a class="nav-link" href="/contact">Contact</a>
				</nav>
				</div>
			</header>
			<main class="pt-4">
				<h1>Réservation du studio</h1>
				<p class="lead m-0">Tu es cotisant, tu as passé la formation studio et tu souhaites le réserver ?</p>
				<p class="lead">Si tu n'as pas encore ta formation studio, contact nous !</p>
				<p class="lead">Commence par vérifier que le studio soit bien disponible sur le <a class="link-light" href="/planning">Planning</a> avant de demander une réservation.</p>
				<p class="lead m-0">Pour rappel, il n'est possible de réserver le studio qu'entre 17h et 23h en semaine, et entre 8h et 15h le samedi.</p>
				<p class="lead">Attention ! Une fois ta demande envoyée, il faudra attendre la confirmation du bureau afin de pouvoir bénéficier du studio. Les demandes ne sont pas automatiquement validées.</p>
			</main>
			<div class="container w-75 pb-4 pt-4">
				{% if error %}
					<svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
						<symbol id="exclamation-triangle-fill" fill="currentColor" viewBox="0 0 16 16">
						<path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
						</symbol>
					</svg>
					{{ error|safe }}
				{% endif %}
				{% if success %}
					<svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
						<symbol id="check-circle-fill" fill="currentColor" viewBox="0 0 16 16">
						<path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
						</symbol>
					</svg>
					<div class="alert alert-success d-flex align-items-center" role="alert">
						<svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Info:"><use xlink:href="#info-fill"/></svg>
						<div>Ta demande de réservation a bien été enregistrée, elle est en attente de validation, on te répond au plus vite !</div>
					</div>
				{% else %}
				<form class="row g-3" action="{{ url_for('reservation') }}" method="post">
					{{ form.csrf_token }}
					<div class="col-md-6">
						{{ form.nom(class="form-control", placeholder="Nom, Prénom *") }}
					</div>
					<div class="col-md-6">
						{{ form.email(class="form-control", placeholder="Email ESIEE *") }}
					</div>
					<div class="col-md-6">
						{{ form.date(class="form-control") }}
					</div>
					<div class="col-md-6">
						{{ form.nbpersonnes(class="form-select") }}
					</div>
					<div class="col-md-6">
						<label for="start" class="form-label">Heure de début</label>
						{{ form.heuredebut(id="heuredebut", class="form-control") }}
					</div>
					<div class="col-md-6">
						<label for="end" class="form-label">Heure de fin</label>
						{{ form.heurefin(id="heurefin", class="form-control") }}
					</div>
					<div class="col-12">
						{{ form.motif(placeholder="Motif de la demande, répétition, cours...", rows="1", class="form-control") }}
					</div>
					<div class="col-12">
						{{ form.commentaire(placeholder="Message, commentaire, demande...", rows="2", class="form-control") }}
					</div>
					<div class="col-12 d-flex justify-content-center pt-2">
						{{ form.recaptcha }}
					</div>
					<div class="col-12 pt-2">
						{{ form.envoyer(type="submit", class="btn btn-lg btn-primary", value="Envoyer") }}
					</div>
				</form>
				{% endif %}
			</div>

{% include "footer.html" %}